<!DOCTYPE html>
<html>
    <head>
        <title>Loading demo from server</title>
    </head>
    <body>
        <div>
          Our quiz questions will go here. This page
          has been requested {{cnt}} times.
        </div>
        <script src="/static/client.js"></script>
    </body>
</html>
